body {
    background-color: rgb(91, 91, 99)
}

h1 {
    color: red;
    font-family: sans-serif
}

p {
    font-style: italic
}

ul {
    border: 1px solid black;
}

li {
    background-color: lightblue;
}

ul>li:nth-child(odd){
    margin-bottom: 10px;
}​